@import './base.css';
.error-message {
  color: red;
  font-size: 0.875em;
}
button{
  border-radius: 25px;
  padding: 5px 10px;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*font-weight: normal;*/
}
svg {

  fill: currentColor;

  &:hover {
    border: currentColor solid 1px;
  }
}

.svg-container {

  cursor: pointer;

  margin-right: 1rem !important;
  & > svg {
    border: currentColor solid 1px;
    -webkit-box-shadow: 0px 0px 1px 0px var(--vt-c-white);
    -moz-box-shadow: 0px 0px 1px 0px var(--vt-c-white);
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px var(--vt-c-white);
    padding: .2rem;
  }
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*padding: 0 2rem;*/
  }
}
@media (max-width: 768px) {

  .modal{
    width: 100%!important;
    padding: 1rem!important;
    margin-top: 3rem !important;
  }
  .proj-head {
    grid-template-columns: 1fr!important;
    & > .title-container .title {
     font-size: 17px;
      font-weight: 600;
      padding-bottom: 1rem;

    }
  }
}